---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Tristan Gottschalk">
  <div class="mt-20">
    <h2>Thank you!</h2>
    <p>Your message has been sent. I will be in touch shortly.</p>
    <a href="/" class="underline">Back to homepage</a>
  </div>
</MainLayout>
