---
const year = new Date().getFullYear();
---

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
<footer class="flex justify-center">
  <h3>
    &#169; <span
      class="decoration-4 decoration-hover underline underline-offset-8"
      >{year}</span
    >
     Tristan Gottschalk
  </h3>
</footer>
