---
import Project from "./Project.astro";
---

<h2 class="mt-20">Projects</h2>
<div class="flex mt-5 flex-wrap lg:flex-nowrap">
  <Project
    title="Project 1"
    description="This is project 1 very detailed description"
    languages={["javascript", "html", "css"]}
  />
  <Project
    title="Project 2"
    description="wow this is a totally different description"
  />
  <Project
    title="Project 3"
    description="and another description highlighting another great project"
  />
</div>
