---
import Project from "./Project.astro";
---

<section>
  <h2 class="mt-16">Projects</h2>
  <div class="flex mt-5 flex-wrap lg:flex-nowrap">
    <Project
      projectName="Together"
      projectDescription="Group Calendar MERN application for Discord communities to share and organize events."
      languages={["react", "node", "express"]}
    />
    <Project
      projectName="Project 2"
      projectDescription="wow this is a totally different description"
      languages={["react", "html", "css", "node"]}
    />
    <Project
      projectName="Project 3"
      projectDescription="and another description highlighting another great project"
      languages={["javascript", "html", "css"]}
    />
  </div>
</section>
