---
import Project from "./Project.astro";
---

<section>
  <h2 class="mt-16">Projects</h2>
  <div class="flex mt-5 flex-wrap lg:flex-nowrap">
    <Project
      projectName="Together"
      projectDescription="Group Calendar MERN application for Discord communities to share and organize events."
      languages={["react", "node", "express"]}
      livePageLink="https://together.cyclic.app/"
      ,
      gitHubLink="https://github.com/Together-100Devs/Together"
      ,
    />
    <Project
      projectName="Comp Converter"
      projectDescription="Simple compensation converter built with React offering conversions from hourly wage to annual salary and vice-versa."
      languages={["react", "html", "css"]}
      livePageLink="https://compensation-convertor.netlify.app/"
      gitHubLink="https://github.com/trstngttschlk/compensation_convertor_react"
    />
    <!-- <Project
      projectName="Project 3"
      projectDescription="and another description highlighting another great project"
      languages={["javascript", "html", "css"]}
    /> -->
  </div>
</section>
