---
const mySkills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Node",
  "React",
  "mongoDB",
  "Express",
  "Tailwind",
  "Git",
];
---

<section>
  <h2 class="mt-16">Skills</h2>
  <div class="max-w-md mx-auto">
    <ul class="flex flex-wrap justify-center align-evenly">
      {
        mySkills.map((skill) => (
          <li class="m-2  bg-[#17202B] py-3 px-4 shadow-xl">{skill}</li>
        ))
      }
    </ul>
  </div>
</section>
