---
const { title } = Astro.props;
import Nav from "../components/Nav";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/" />
    <title>{title}</title>
  </head>
  <body class="text-white bg-background font-sans mx-5">
    <div class="lg:max-w-5xl my-10 mx-auto">
      <Nav />
      <slot />
    </div>
    <Footer />
  </body>
</html>
