---
const { title } = Astro.props;
import Nav from "../pages/components/Nav";

import Footer from "../pages/components/Footer";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" href="/" />
  </head>
  <body class="text-white bg-background font-sans">
    <main class="max-w-4xl mx-auto my-10">
      <Nav />
      <slot />
    </main>
    <Footer />
  </body>
</html>
